@import url("main.css");

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - var(--top__jump-height));
}
.container *, footer{
  transition: animation 0.5s ease, translate 0.5s ease, opacity 0.5s ease;
  animation: fade-in 0.5s ease;
}
h1{
  font-size: clamp(35px, 9dvw, 300px);
  user-select: none;
  pointer-events: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 21px;
  text-transform: uppercase;
  
  &::after{
    content: "Page non disponible";
    position: absolute;
    left: 0;
    bottom: -25%;
    font-size: clamp(15px, 5dvw, 150px);
    margin: auto;
    text-align: center;
    width: 100%
  }
}
p a{
  font-weight: 700;
}
p:not([class]) {
  font-size: clamp(10px, 2.25vw, 1.1em);
}
p[class] {
  font-size: clamp(12.5px, 2.5vw, 1.5em);
  margin-block-start: 10px;
  font-weight: 500;
}