@import url("/Portail-Parent/main.css");
@import url("/Portail-Parent/Students/main.css");
:root{
    --header-height: 15vh;
}
.logo__container{
    width: fit-content;
    height: 100%;

    a{
        cursor: default;
        height: 100%;
      }
}
.logo{
    height: 100%;
}
